

<!DOCTYPE html>

<link rel="stylesheet" runat="server" media="screen" href="~/Content/main.css">
<h2>Pending Timesheet</h2>
<p>
    This is where the Pending Timesheets will go
    <div class="container">
        <div id="tableContainer">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Week Day</th>
                        <th>Date</th>
                        <th>Time In</th>
                        <th>Time Out</th>
                        <th>Time In</th>
                        <th>Time Out</th>
                        <th>Regular Hours</th>
                        <th>Overtime Hours</th>
                        <th>Holiday</th>
                        <th>Vacation</th>
                        <th>Sick</th>
                        <th>Unpaid</th>
                        <th>BL</th>
                        <th>Jury Duty</th>
                        <th>Total Hours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td><input type="date" class="form-control" id="date" placeholder="Date"></td>
                        <td><input type="time" class="form-control" id="timeIn1"></td>
                        <td><input type="time" class="form-control" id="timeOut1" placeholder="Time out"></td>
                        <td><input type="time" class="form-control" id="timeIn2"></td>
                        <td><input type="time" class="form-control" id="timeOut2"></td>
                        <td><input type="hour" class="form-control" id="rHour"></td>
                        <td><input type="hour" class="form-control" id="overTime"></td>
                        <td><input type="hour" class="form-control" id="Holiday"></td>
                        <td><input type="hour" class="form-control" id="Vaca"></td>
                        <td><input type="hour" class="form-control" id="sick"></td>
                        <td><input type="hour" class="form-control" id="unpaid"></td>
                        <td><input type="hour" class="form-control" id="BL"></td>
                        <td><input type="hour" class="form-control" id="Jury"></td>
                        <td><input type="hour" class="form-control" id="Total"></td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td><input type="date" class="form-control" id="date" placeholder="Date"></td>
                        <td><input type="time" class="form-control" id="timeIn1"></td>
                        <td><input type="time" class="form-control" id="timeOut1" placeholder="Time out"></td>
                        <td><input type="time" class="form-control" id="timeIn2"></td>
                        <td><input type="time" class="form-control" id="timeOut2"></td>
                        <td><input type="hour" class="form-control" id="rHour"></td>
                        <td><input type="hour" class="form-control" id="overTime"></td>
                        <td><input type="hour" class="form-control" id="Holiday"></td>
                        <td><input type="hour" class="form-control" id="Vaca"></td>
                        <td><input type="hour" class="form-control" id="sick"></td>
                        <td><input type="hour" class="form-control" id="unpaid"></td>
                        <td><input type="hour" class="form-control" id="BL"></td>
                        <td><input type="hour" class="form-control" id="Jury"></td>
                        <td><input type="hour" class="form-control" id="Total"></td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td><input type="date" class="form-control" id="date" placeholder="Date"></td>
                        <td><input type="time" class="form-control" id="timeIn1"></td>
                        <td><input type="time" class="form-control" id="timeOut1" placeholder="Time out"></td>
                        <td><input type="time" class="form-control" id="timeIn2"></td>
                        <td><input type="time" class="form-control" id="timeOut2"></td>
                        <td><input type="hour" class="form-control" id="rHour"></td>
                        <td><input type="hour" class="form-control" id="overTime"></td>
                        <td><input type="hour" class="form-control" id="Holiday"></td>
                        <td><input type="hour" class="form-control" id="Vaca"></td>
                        <td><input type="hour" class="form-control" id="sick"></td>
                        <td><input type="hour" class="form-control" id="unpaid"></td>
                        <td><input type="hour" class="form-control" id="BL"></td>
                        <td><input type="hour" class="form-control" id="Jury"></td>
                        <td><input type="hour" class="form-control" id="Total"></td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td><input type="date" class="form-control" id="date" placeholder="Date"></td>
                        <td><input type="time" class="form-control" id="timeIn1"></td>
                        <td><input type="time" class="form-control" id="timeOut1" placeholder="Time out"></td>
                        <td><input type="time" class="form-control" id="timeIn2"></td>
                        <td><input type="time" class="form-control" id="timeOut2"></td>
                        <td><input type="hour" class="form-control" id="rHour"></td>
                        <td><input type="hour" class="form-control" id="overTime"></td>
                        <td><input type="hour" class="form-control" id="Holiday"></td>
                        <td><input type="hour" class="form-control" id="Vaca"></td>
                        <td><input type="hour" class="form-control" id="sick"></td>
                        <td><input type="hour" class="form-control" id="unpaid"></td>
                        <td><input type="hour" class="form-control" id="BL"></td>
                        <td><input type="hour" class="form-control" id="Jury"></td>
                        <td><input type="hour" class="form-control" id="Total"></td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td><input type="date" class="form-control" id="date" placeholder="Date"></td>
                        <td><input type="time" class="form-control" id="timeIn1"></td>
                        <td><input type="time" class="form-control" id="timeOut1" placeholder="Time out"></td>
                        <td><input type="time" class="form-control" id="timeIn2"></td>
                        <td><input type="time" class="form-control" id="timeOut2"></td>
                        <td><input type="hour" class="form-control" id="rHour"></td>
                        <td><input type="hour" class="form-control" id="overTime"></td>
                        <td><input type="hour" class="form-control" id="Holiday"></td>
                        <td><input type="hour" class="form-control" id="Vaca"></td>
                        <td><input type="hour" class="form-control" id="sick"></td>
                        <td><input type="hour" class="form-control" id="unpaid"></td>
                        <td><input type="hour" class="form-control" id="BL"></td>
                        <td><input type="hour" class="form-control" id="Jury"></td>
                        <td><input type="hour" class="form-control" id="Total"></td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td><input type="date" class="form-control" id="date" placeholder="Date"></td>
                        <td><input type="time" class="form-control" id="timeIn1"></td>
                        <td><input type="time" class="form-control" id="timeOut1" placeholder="Time out"></td>
                        <td><input type="time" class="form-control" id="timeIn2"></td>
                        <td><input type="time" class="form-control" id="timeOut2"></td>
                        <td><input type="hour" class="form-control" id="rHour"></td>
                        <td><input type="hour" class="form-control" id="overTime"></td>
                        <td><input type="hour" class="form-control" id="Holiday"></td>
                        <td><input type="hour" class="form-control" id="Vaca"></td>
                        <td><input type="hour" class="form-control" id="sick"></td>
                        <td><input type="hour" class="form-control" id="unpaid"></td>
                        <td><input type="hour" class="form-control" id="BL"></td>
                        <td><input type="hour" class="form-control" id="Jury"></td>
                        <td><input type="hour" class="form-control" id="Total"></td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td><input type="date" class="form-control" id="date" placeholder="Date"></td>
                        <td><input type="time" class="form-control" id="timeIn1"></td>
                        <td><input type="time" class="form-control" id="timeOut1" placeholder="Time out"></td>
                        <td><input type="time" class="form-control" id="timeIn2"></td>
                        <td><input type="time" class="form-control" id="timeOut2"></td>
                        <td><input type="hour" class="form-control" id="rHour"></td>
                        <td><input type="hour" class="form-control" id="overTime"></td>
                        <td><input type="hour" class="form-control" id="Holiday"></td>
                        <td><input type="hour" class="form-control" id="Vaca"></td>
                        <td><input type="hour" class="form-control" id="sick"></td>
                        <td><input type="hour" class="form-control" id="unpaid"></td>
                        <td><input type="hour" class="form-control" id="BL"></td>
                        <td><input type="hour" class="form-control" id="Jury"></td>
                        <td><input type="hour" class="form-control" id="Total"></td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td><input type="date" class="form-control" id="date" placeholder="Date"></td>
                        <td><input type="time" class="form-control" id="timeIn1"></td>
                        <td><input type="time" class="form-control" id="timeOut1" placeholder="Time out"></td>
                        <td><input type="time" class="form-control" id="timeIn2"></td>
                        <td><input type="time" class="form-control" id="timeOut2"></td>
                        <td><input type="hour" class="form-control" id="rHour"></td>
                        <td><input type="hour" class="form-control" id="overTime"></td>
                        <td><input type="hour" class="form-control" id="Holiday"></td>
                        <td><input type="hour" class="form-control" id="Vaca"></td>
                        <td><input type="hour" class="form-control" id="sick"></td>
                        <td><input type="hour" class="form-control" id="unpaid"></td>
                        <td><input type="hour" class="form-control" id="BL"></td>
                        <td><input type="hour" class="form-control" id="Jury"></td>
                        <td><input type="hour" class="form-control" id="Total"></td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td><input type="date" class="form-control" id="date" placeholder="Date"></td>
                        <td><input type="time" class="form-control" id="timeIn1"></td>
                        <td><input type="time" class="form-control" id="timeOut1" placeholder="Time out"></td>
                        <td><input type="time" class="form-control" id="timeIn2"></td>
                        <td><input type="time" class="form-control" id="timeOut2"></td>
                        <td><input type="hour" class="form-control" id="rHour"></td>
                        <td><input type="hour" class="form-control" id="overTime"></td>
                        <td><input type="hour" class="form-control" id="Holiday"></td>
                        <td><input type="hour" class="form-control" id="Vaca"></td>
                        <td><input type="hour" class="form-control" id="sick"></td>
                        <td><input type="hour" class="form-control" id="unpaid"></td>
                        <td><input type="hour" class="form-control" id="BL"></td>
                        <td><input type="hour" class="form-control" id="Jury"></td>
                        <td><input type="hour" class="form-control" id="Total"></td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td><input type="date" class="form-control" id="date" placeholder="Date"></td>
                        <td><input type="time" class="form-control" id="timeIn1"></td>
                        <td><input type="time" class="form-control" id="timeOut1" placeholder="Time out"></td>
                        <td><input type="time" class="form-control" id="timeIn2"></td>
                        <td><input type="time" class="form-control" id="timeOut2"></td>
                        <td><input type="hour" class="form-control" id="rHour"></td>
                        <td><input type="hour" class="form-control" id="overTime"></td>
                        <td><input type="hour" class="form-control" id="Holiday"></td>
                        <td><input type="hour" class="form-control" id="Vaca"></td>
                        <td><input type="hour" class="form-control" id="sick"></td>
                        <td><input type="hour" class="form-control" id="unpaid"></td>
                        <td><input type="hour" class="form-control" id="BL"></td>
                        <td><input type="hour" class="form-control" id="Jury"></td>
                        <td><input type="hour" class="form-control" id="Total"></td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td><input type="date" class="form-control" id="date" placeholder="Date"></td>
                        <td><input type="time" class="form-control" id="timeIn1"></td>
                        <td><input type="time" class="form-control" id="timeOut1" placeholder="Time out"></td>
                        <td><input type="time" class="form-control" id="timeIn2"></td>
                        <td><input type="time" class="form-control" id="timeOut2"></td>
                        <td><input type="hour" class="form-control" id="rHour"></td>
                        <td><input type="hour" class="form-control" id="overTime"></td>
                        <td><input type="hour" class="form-control" id="Holiday"></td>
                        <td><input type="hour" class="form-control" id="Vaca"></td>
                        <td><input type="hour" class="form-control" id="sick"></td>
                        <td><input type="hour" class="form-control" id="unpaid"></td>
                        <td><input type="hour" class="form-control" id="BL"></td>
                        <td><input type="hour" class="form-control" id="Jury"></td>
                        <td><input type="hour" class="form-control" id="Total"></td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td><input type="date" class="form-control" id="date" placeholder="Date"></td>
                        <td><input type="time" class="form-control" id="timeIn1"></td>
                        <td><input type="time" class="form-control" id="timeOut1" placeholder="Time out"></td>
                        <td><input type="time" class="form-control" id="timeIn2"></td>
                        <td><input type="time" class="form-control" id="timeOut2"></td>
                        <td><input type="hour" class="form-control" id="rHour"></td>
                        <td><input type="hour" class="form-control" id="overTime"></td>
                        <td><input type="hour" class="form-control" id="Holiday"></td>
                        <td><input type="hour" class="form-control" id="Vaca"></td>
                        <td><input type="hour" class="form-control" id="sick"></td>
                        <td><input type="hour" class="form-control" id="unpaid"></td>
                        <td><input type="hour" class="form-control" id="BL"></td>
                        <td><input type="hour" class="form-control" id="Jury"></td>
                        <td><input type="hour" class="form-control" id="Total"></td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td><input type="date" class="form-control" id="date" placeholder="Date"></td>
                        <td><input type="time" class="form-control" id="timeIn1"></td>
                        <td><input type="time" class="form-control" id="timeOut1" placeholder="Time out"></td>
                        <td><input type="time" class="form-control" id="timeIn2"></td>
                        <td><input type="time" class="form-control" id="timeOut2"></td>
                        <td><input type="hour" class="form-control" id="rHour"></td>
                        <td><input type="hour" class="form-control" id="overTime"></td>
                        <td><input type="hour" class="form-control" id="Holiday"></td>
                        <td><input type="hour" class="form-control" id="Vaca"></td>
                        <td><input type="hour" class="form-control" id="sick"></td>
                        <td><input type="hour" class="form-control" id="unpaid"></td>
                        <td><input type="hour" class="form-control" id="BL"></td>
                        <td><input type="hour" class="form-control" id="Jury"></td>
                        <td><input type="hour" class="form-control" id="Total"></td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td><input type="date" class="form-control" id="date" placeholder="Date"></td>
                        <td><input type="time" class="form-control" id="timeIn1"></td>
                        <td><input type="time" class="form-control" id="timeOut1" placeholder="Time out"></td>
                        <td><input type="time" class="form-control" id="timeIn2"></td>
                        <td><input type="time" class="form-control" id="timeOut2"></td>
                        <td><input type="hour" class="form-control" id="rHour"></td>
                        <td><input type="hour" class="form-control" id="overTime"></td>
                        <td><input type="hour" class="form-control" id="Holiday"></td>
                        <td><input type="hour" class="form-control" id="Vaca"></td>
                        <td><input type="hour" class="form-control" id="sick"></td>
                        <td><input type="hour" class="form-control" id="unpaid"></td>
                        <td><input type="hour" class="form-control" id="BL"></td>
                        <td><input type="hour" class="form-control" id="Jury"></td>
                        <td><input type="hour" class="form-control" id="Total"></td>
                    </tr>

                </tbody>
            </table>
        </div><div align="right">  <input id="submitButton" type="submit" class="btn btn-info" value="Submit Button"></div>
    </div>
</p>


    Status API Training Shop Blog About

