
@{
    Layout = null;
    //string output = ViewBag.results;
    List<string> outputlist = ViewBag.results;
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" <!--MARIE code-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Timesheet</title>
    <meta name="description" content="An interactive getting started guide for Brackets.">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!--include jquery-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" runat="server" media="screen" href="~/Content/main.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- MAY NOT BE USED
            Scripts used in index.html
            <script>
                //This will put the header.html file into the header div
                $("#header").load("header.html");
                //This will put the footer.html file int the footer div
                $("#footer").load("footer.html");
            </script>
    -->

</head>
<div id="wrapper">
    <div id="header">
        <!--logo for MLHC-->
        <img id="logo" class="logo" src="http://www.placertitle.com/sites/placertitle/files/styles/main-image/public/photos/company/MLHC.png?itok=qLnKLeGh" alt="Mother Lode Holding Company">
        <div id="titleText" align="center">
            <text>Timesheet Application of the Gods</text>
        </div>
    </div>
    <div id="yellowBar">
    </div>
    <body>
        <div id="menu" align="center">
            <!--                <img id = "menuBackground" src = "http://www.placertitle.com/sites/placertitle/themes/placertitle/images/bg-header.jpg" style = "width: 600px; height: 200px;">-->
            <form id="menuButtons">
                <button id="currentTimesheetButton" type="button" class="btn btn-default"><b>Current<br>Timesheet</b> </button>
                <button id="historyButton" type="button" class="btn btn-default"><b>History</b></button>
                <button id="pedingTimesheetsButton" type="button" class="btn btn-default"><b>Pending<br>Timesheets</b></button>
                <button id="manageUsersButton" type="button" class="btn btn-default"><b>Manage<br>Users</b></button>
            </form>
        </div>
        <div id="mainContentContainer" align="center">
        </div>
    </body>
    <div id="footer">
    </div>
</div> <!--end of wrapper-->
</html>

    Status API Training Shop Blog About

