@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Timesheet</title>
    <meta name="description" content="An interactive getting started guide for Brackets.">
    <link rel="stylesheet" runat="server" media="screen" href="~/Content/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- MAY NOT BE USED
            Scripts used in index.html
            <script>
                //This will put the header.html file into the header div
                $("#header").load("header.html");
                //This will put the footer.html file int the footer div
                $("#footer").load("footer.html");
            </script>
    -->
</head>
<body>
    <form method="post" action="#">
        <div id="wrapper" align="center">
            <div id="header" align="left">
                <!--logo for MLHC-->
                <img id="logo" class="logo" src="http://www.placertitle.com/sites/placertitle/files/styles/main-image/public/photos/company/MLHC.png?itok=qLnKLeGh" alt="Mother Lode Holding Company">
                <div id="titleText" align="center">
                    <text>Timesheet Application of the Gods</text>
                </div>
            </div>
            <div id="yellowBar"></div>
            <div id="loginBox" align="center">
                <div id="loginHeader">Please Sign In</div>
                <div id="loginDivider"></div>
                <form class="form-signin" action="" method="">
                    <input type="text" name="Username" class="form-control" placeholder="Username" style="background: #FAEBD7" required autofocus>
                    <input type="password" name="Password" class="form-control" placeholder="Password" style="background: #FAEBD7" required>
                    <input type="submit" name="Login" class="btn btn-lg btn-default btn-block" value="Sign In" style="background: #FAEBD7; font-weight: bold" />
                </form>
            </div>
        </div>
        </form>
</body>
</html>

    Status API Training Shop Blog About

