body{
    margin: 0;
    background: url(http://www.placertitle.com/sites/placertitle/themes/placertitle/images/bg-body.jpg);
    font-family: 'Open Sans', sans-serif!important;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.logo{
    padding-left: 100px;
    padding-top: 20px;
    width: 300px;
    height: 120px;
}

.rotate90{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);   
}

button{
    width: 140px; 
    height: 50px;
    background: #FAEBD7;
    margin-top: 50px;
    font-weight: bold;
}

button:hover{
    opacity: .7
}

#footer{
    width: 100%;
    height: 70px;
    background: url(http://www.placertitle.com/sites/placertitle/themes/placertitle/images/bg-header.jpg);
    min-width: 1200px;
    margin: 0;   
    margin-top: 135px;
}

#header{

    height: 140px;

    background: url(http://www.placertitle.com/sites/placertitle/themes/placertitle/images/bg-header.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1200px;
    margin: 0;
}

#loginBox{
    background: #00213F;
    width: 500px;
    height: 300px;
    position: relative;
    margin-top: 135px;
    color: white;
    font-size: 20px;
}

#loginDivider{
    width: 80%;
    height: 4px;
    background: yellow;
/*    background: #FAEBD7;*/
}

#loginHeader{
    margin-top: 25px;
    height: 60px;
    font-size: 40px;
    color: #FAEBD7;
}

#menu{
    margin: 0;
    margin-top: 5px;
    height: 600px;
    width: 200px;
    float: left;
/*    background: #00213F;*/
    border: 5px solid #FAEBD7;
    background: #00213F;
}

#menuBackground{
    position: relative;
}

#menuButtons{
    margin-top: 50px;
}

#mainContentContainer{
    position: relative;
    width: 1200px;
    height: 500px;
    left: 250px;
    top: 30px;
    min-width: 100px;
    /*    background: #00213F;*/
    border: 5px solid #FAEBD7;
    background: #00213F;
}

#titleText{
    font-size: 30px;
    color: #FAEBD7;
    position: relative; 
    top: -30px;
}

#yellowBar{
    background: yellow;
    width: 100%;
    height: 20px;
    margin-top: 5px;
}

#wrapper{
/*    background: rgba(0, 0, 0, .8);*/
    margin: 0 auto;
    width: 1500px;
    height: 880px;;
    min-width: 800px;
}

    Status API Training Shop Blog About 

